{#{% load humanize %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<form method="post" action="">#}
{#    {% csrf_token %}#}
{#    {{ form }}#}
{#    <input type="submit" value="ok">#}
{#</form>#}
{#<div style="width: 450px">#}
{#    {% for ad in adlari %}#}
{#        <br>#}
{#        {{ ad.name }},#}
{#        id = {{ ad.id }}, <span style="color: yellowgreen">tarixe vurud = {{ ad.date_created | naturaltime }} </span><button style="color: red ;float: right" > <a href="{% url 'silmek' ad.id %}">sil</a> </button><hr>#}
{#    {% endfor %}#}
{#</div>#}
{##}
{#</body>#}
{#</html>#}